.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #0b1f33;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .loading-screen .loader-icon {
    margin: auto;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px auto;
    background-image: url(/images/icons/loading.svg);
    animation: rotate 1s infinite; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

input,
button {
  border: none;
  margin: 0;
  padding: 0; }

.center-x, .hero-area__content, .event-list, .content-area--wide, .footer .inner-footer {
  width: 1500px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 1700px) {
    .center-x, .hero-area__content, .event-list, .content-area--wide, .footer .inner-footer {
      width: 100%;
      margin: 0;
      padding-left: 9vw;
      padding-right: 9vw; } }
  @media only screen and (max-width: 1300px) {
    .center-x, .hero-area__content, .event-list, .content-area--wide, .footer .inner-footer {
      padding-left: 5vw;
      padding-right: 5vw; } }

.content-area--narrow, .content-area--event-details.no-media {
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 1200px) {
    .content-area--narrow, .content-area--event-details.no-media {
      width: 100%;
      margin: 0;
      padding-left: 3vw;
      padding-right: 3vw; } }

.center-x, .hero-area__content, .event-list, .content-area--wide, .footer .inner-footer, .content-area--narrow, .content-area--event-details.no-media, .each_checkbox label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.btn {
  text-decoration: none;
  border: none; }
  .btn:hover {
    border: none;
    text-decoration: none; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

.btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  font-weight: 700;
  margin-bottom: 10px;
  margin-right: 10px;
  -webkit-transition: background 0.2s, transform 0.2s, box-shadow 0.2s, color 0.4s;
  -moz-transition: background 0.2s, transform 0.2s, box-shadow 0.2s, color 0.4s;
  -ms-transition: background 0.2s, transform 0.2s, box-shadow 0.2s, color 0.4s;
  transition: background 0.2s, transform 0.2s, box-shadow 0.2s, color 0.4s; }
  .btn.large {
    font-size: 1rem;
    line-height: 1.4rem;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    background-position: right 20px center;
    background-size: 18px 18px;
    border: 2px solid transparent; }
    .btn.large.up, .btn.large.right, .btn.large.down {
      padding-right: 60px; }
    .btn.large.left {
      padding-left: 60px; }
  .btn.small {
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
    background-position: right 14px center;
    background-size: 12px 12px; }
    .btn.small.up, .btn.small.right, .btn.small.down {
      padding-right: 44px; }
    .btn.small.left {
      padding-left: 44px; }
  .btn.light {
    background-color: #ffffff;
    color: #0b1f33; }
    .btn.light:hover {
      color: #e00000;
      background-color: #ffffff; }
  .btn.colored {
    color: #ffffff; }
    .btn.colored.solid {
      background-color: #ff0000; }
    .btn.colored.hollow {
      border: 2px solid #ff0000; }
    .btn.colored:hover {
      color: #ffffff;
      background-color: #d00000; }
  .btn.dark {
    background-color: #ff0000;
    color: #ffffff; }
    .btn.dark:hover {
      background-color: #d00000;
      color: #000; }
  .btn.dark.up {
    background-image: url(/images/icons/arrows/icon_arrow_up_light.svg); }
  .btn.dark.right {
    background-image: url(/images/icons/arrows/icon_arrow_right_light.svg); }
  .btn.dark.down {
    background-image: url(/images/icons/arrows/icon_arrow_down_light.svg); }
  .btn.dark.left {
    background-image: url(/images/icons/arrows/icon_arrow_left_light.svg);
    background-position: 16px center; }
  .btn.light.up {
    background-image: url(/images/icons/arrows/icon_arrow_up_dark.svg); }
  .btn.light.right {
    background-image: url(/images/icons/arrows/icon_arrow_right_dark.svg); }
  .btn.light.down {
    background-image: url(/images/icons/arrows/icon_arrow_down_dark.svg); }
  .btn.light.left {
    background-image: url(/images/icons/arrows/icon_arrow_left_dark.svg);
    background-position: 16px center; }

a {
  text-decoration: none; }

article a,
section a {
  text-decoration: none;
  color: #ff0000;
  border-bottom: 2px solid rgba(255, 0, 0, 0.3);
  -webkit-transition: border 0.4s;
  -moz-transition: border 0.4s;
  -ms-transition: border 0.4s;
  transition: border 0.4s; }
  article a:hover,
  section a:hover {
    text-decoration: none;
    border-bottom: 2px solid red; }

strong, b {
  font-weight: 700; }

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: bold; }

input,
button,
textarea,
select,
label {
  font-size: 0.9rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

.style-form input,
.style-form textarea {
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  background-color: #f0f3f5;
  border: 1px solid rgba(197, 207, 216, 0.5);
  color: #556573;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 200;
  -webkit-transition: background-color 0.3s, border 0.3s;
  -moz-transition: background-color 0.3s, border 0.3s;
  -ms-transition: background-color 0.3s, border 0.3s;
  transition: background-color 0.3s, border 0.3s; }
  .style-form input:hover,
  .style-form textarea:hover {
    background-color: rgba(240, 243, 245, 0.4);
    border: 1px solid #c5cfd8; }
  .style-form input:focus,
  .style-form textarea:focus {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6); }

.style-form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-flow: row wrap;
  -moz-box-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: left; }
  .style-form label {
    -webkit-box-flex: 0 0 48%;
    -moz-box-flex: 0 0 48%;
    -webkit-flex: 0 0 48%;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    margin-bottom: 25px; }
    .style-form label.wide {
      -webkit-box-flex: 0 0 100%;
      -moz-box-flex: 0 0 100%;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; }
    .style-form label span.label {
      padding-left: 20px; }
    @media only screen and (max-width: 530px) {
      .style-form label {
        -webkit-box-flex: 0 0 100%;
        -moz-box-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; } }
  .style-form input,
  .style-form textarea {
    display: inline-block;
    width: 100%; }
  .style-form .selectbox {
    display: inline-block;
    width: 100%; }
  .style-form .messages,
  .style-form .btn-wrap {
    -webkit-box-flex: 0 0 100%;
    -moz-box-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .style-form button {
    padding: 15px 50px;
    background-color: #000;
    font-weight: 700;
    font-size: 1.4rem;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: transform 0.1s, box-shadow 0.3s, color 0.4s, background 0.3s;
    -moz-transition: transform 0.1s, box-shadow 0.3s, color 0.4s, background 0.3s;
    -ms-transition: transform 0.1s, box-shadow 0.3s, color 0.4s, background 0.3s;
    transition: transform 0.1s, box-shadow 0.3s, color 0.4s, background 0.3s; }
    .style-form button:hover {
      background-color: #ff2d2d;
      color: #000; }

.selectbox {
  cursor: default;
  position: relative;
  z-index: 100; }
  .selectbox .selectbox__label {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -webkit-transition: color 0.4s, background-color 0.4s;
    -moz-transition: color 0.4s, background-color 0.4s;
    -ms-transition: color 0.4s, background-color 0.4s;
    transition: color 0.4s, background-color 0.4s; }
  .selectbox.js-active {
    z-index: 200; }
  .selectbox .selectbox__content {
    position: absolute;
    width: 100%;
    top: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: #ffffff;
    background-color: rgba(11, 31, 51, 0.98);
    overflow: hidden;
    display: none; }
  .selectbox .selectbox__option {
    display: block;
    font-size: 0.8rem;
    padding: 10px;
    margin-bottom: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: background 0.3s, color 0.4s;
    -moz-transition: background 0.3s, color 0.4s;
    -ms-transition: background 0.3s, color 0.4s;
    transition: background 0.3s, color 0.4s; }
    @media only screen and (max-width: 760px) {
      .selectbox .selectbox__option {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        padding-bottom: 7px; } }
    .selectbox .selectbox__option:hover {
      background-color: rgba(51, 54, 66, 0.5);
      color: #ff0000; }
    .selectbox .selectbox__option.js-active {
      background-color: #ff0000;
      color: #ffffff; }
  .selectbox--default {
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 10px auto;
    background-image: url(/images/icons/arrows/min-down-grey.svg); }
    .selectbox--default .selectbox__label {
      padding-top: 10px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-left: 10px;
      position: relative; }
      .selectbox--default .selectbox__label::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 100%;
        right: 10px;
        top: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 10px auto;
        background-image: url(/images/icons/arrows/light/down-min.svg);
        opacity: 0.5;
        -webkit-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        -ms-transition: opacity 0.4s;
        transition: opacity 0.4s; }
      .selectbox--default .selectbox__label:hover {
        background-color: rgba(11, 31, 51, 0.98); }
        .selectbox--default .selectbox__label:hover::after {
          opacity: 1; }
      .selectbox--default .selectbox__label.js-active {
        background-color: rgba(11, 31, 51, 0.98); }
        .selectbox--default .selectbox__label.js-active::after {
          opacity: 1; }
    .selectbox--default .selectbox__option {
      box-sizing: border-box;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px; }
  .selectbox--large .selectbox__content {
    width: 800px;
    padding: 30px; }
    @media only screen and (max-width: 1000px) {
      .selectbox--large .selectbox__content {
        padding: 10px; } }
    @media only screen and (max-width: 1300px) {
      .selectbox--large .selectbox__content {
        width: 660px; } .details { max-height: 13em; } }
    @media only screen and (max-width: 1000px) {
      .selectbox--large .selectbox__content {
        width: 400px; } }
    @media only screen and (max-width: 540px) {
      .selectbox--large .selectbox__content {
        width: 300px; } }
    @media only screen and (max-width: 400px) {
      .selectbox--large .selectbox__content {
        width: 90vw; } }
  .selectbox--large .selectbox__option {
    display: inline-block;
    font-size: 1rem;
    margin-right: 5px;
    margin-bottom: 9px; }
  .selectbox--search .selectbox__label {
    height: 50px;
    padding-right: 20px;
    line-height: 1rem;
    padding-left: 50px;
    color: #333642;
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 30px auto;
    background-image: url(/images/icons/location.svg);
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    @media only screen and (max-width: 1000px) {
      .selectbox--search .selectbox__label {
        font-size: 0.9rem; } }
    @media only screen and (max-width: 460px) {
      .selectbox--search .selectbox__label {
        padding-left: 42px;
        background-position: 12px center;
        background-size: 20px auto; } }
    .selectbox--search .selectbox__label span {
      width: 100%;
      margin-top: auto;
      margin-bottom: auto; }
      @media only screen and (max-width: 900px) {
        .selectbox--search .selectbox__label span {
          text-align: center; } }
  .selectbox--search .selectbox__content {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 1000px; }
    .selectbox--search .selectbox__content .selectbox__options {
      width: 100%;
      -webkit-column-count: 2;
      /* Ch, Saf, And, BB  */
      -moz-column-count: 2;
      /* Fx */
      column-count: 2;
      /* IE 10, Op 11.1+ */ }
    @media only screen and (max-width: 1100px) {
      .selectbox--search .selectbox__content {
        width: calc(100vw - 6vw); } }

.multiselect-buttons {
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 20px;
  border-top: 1px solid #333642; }
  @media only screen and (max-width: 500px) {
    .multiselect-buttons {
      padding-top: 8px; } }
  .multiselect-buttons .toggle-selections {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #ff0000;
    font-weight: bold;
    line-height: 1.4rem;
    font-size: 0.8rem;
    border-bottom: 2px solid transparent;
    -webkit-transition: border 0.4s;
    -moz-transition: border 0.4s;
    -ms-transition: border 0.4s;
    transition: border 0.4s;
    padding-top: 5px; }
    .multiselect-buttons .toggle-selections:hover {
      border-bottom: 2px solid #ff0000; }
  .multiselect-buttons .btn {
    float: right; }
    @media only screen and (max-width: 1000px) {
      .multiselect-buttons .btn {
        float: left; } }

.each_checkbox label {
  display: block;
  padding-left: 42px;
  height: 40px;
  line-height: 36px;
  position: relative;
  cursor: pointer; }
  .each_checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px; }

.each_checkbox input {
  display: none; }

.each_checkbox input[type=checkbox]:checked + label:before {
  background-color: #e1e6eb;
  background-image: url(/images/icons/icon_checkmark-grey.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 18px; }

.messages {
  margin-bottom: 25px; }
  .messages__success, .messages__error {
    padding-top: 30px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: right 30px center;
    background-size: 40px auto;
    font-weight: 700; }
  .messages__success {
    border: 1px solid #1c8400;
    background-image: url(/images/icons/success.svg); }
  .messages__error {
    border: 1px solid #d80000;
    background-image: url(/images/icons/error.svg);
    background-size: 30px auto; }

.menu_line {
  display: block;
  width: 100%;
  height: 60px;
  display: block;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 25px rgba(11, 31, 51, 0.12);
  box-shadow: 0px 5px 25px rgba(11, 31, 51, 0.12);
  text-align: center;
  position: relative; }

.content-slider,
.hero-area__slider {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative; }
  @media only screen and (min-width: 1700px) {
    .content-slider,
    .hero-area__slider {
      padding-left: calc((100% - 1500px) / 2); } }
  @media only screen and (max-width: 1700px) {
    .content-slider,
    .hero-area__slider {
      padding-left: 9vw; } }
  @media only screen and (max-width: 1300px) {
    .content-slider,
    .hero-area__slider {
      padding-left: 5vw; } }
  .content-slider .arrow-left,
  .content-slider .arrow-right,
  .hero-area__slider .arrow-left,
  .hero-area__slider .arrow-right {
    position: absolute;
    z-index: 100;
    width: 100px;
    height: 100%;
    display: none; }
    @media only screen and (max-width: 1000px) {
      .content-slider .arrow-left,
      .content-slider .arrow-right,
      .hero-area__slider .arrow-left,
      .hero-area__slider .arrow-right {
        width: 60px; } }
    @media only screen and (max-width: 700px) {
      .content-slider .arrow-left,
      .content-slider .arrow-right,
      .hero-area__slider .arrow-left,
      .hero-area__slider .arrow-right {
        width: 36px; } }
    .content-slider .arrow-left span,
    .content-slider .arrow-right span,
    .hero-area__slider .arrow-left span,
    .hero-area__slider .arrow-right span {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-repeat: no-repeat;
      background-size: auto 22px; }
    .content-slider .arrow-left.js-visible,
    .content-slider .arrow-right.js-visible,
    .hero-area__slider .arrow-left.js-visible,
    .hero-area__slider .arrow-right.js-visible {
      display: block; }
  .content-slider .arrow-right,
  .hero-area__slider .arrow-right {
    right: 0;
    top: 0;
    background-image: -o-linear-gradient(90deg, transparent, black);
    background-image: -moz-linear-gradient(90deg, transparent, black);
    background-image: -webkit-linear-gradient(90deg, transparent, black);
    background-image: linear-gradient(90deg, transparent, black); }
    .content-slider .arrow-right span,
    .hero-area__slider .arrow-right span {
      background-position: right 10px center;
      background-image: url(/images/icons/arrows/light/right-min.svg); }
  .content-slider .arrow-left,
  .hero-area__slider .arrow-left {
    left: 0;
    top: 0;
    background-image: -o-linear-gradient(-90deg, transparent, black);
    background-image: -moz-linear-gradient(-90deg, transparent, black);
    background-image: -webkit-linear-gradient(-90deg, transparent, black);
    background-image: linear-gradient(-90deg, transparent, black); }
    .content-slider .arrow-left span,
    .hero-area__slider .arrow-left span {
      background-position: 10px center;
      background-image: url(/images/icons/arrows/light/left-min.svg); }
  .content-slider .sliding-overflow,
  .hero-area__slider .sliding-overflow {
    padding-top: 15px;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-flow: row nowrap;
    -moz-box-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -ms-transition: margin 0.3s;
    transition: margin 0.3s; }

.content-slider {
  margin-bottom: 40px;
  background-color: #000; }
  @media only screen and (max-width: 700px) {
    .content-slider {
      margin-bottom: 10px; } }
  .content-slider--event-slider {
    padding-top: 30px; }
    @media only screen and (max-width: 900px) {
      .content-slider--event-slider {
        padding-top: 10px; } }

.hero-area__slider .image-mask {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -ms-transition: background 0.4s;
  transition: background 0.4s; }

html,
body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0; }

html {
  font-size: 18px;
  line-height: 28px; }
  @media only screen and (max-width: 1300px) {
    html {
      font-size: 16px;
      line-height: 26px; } }
  @media only screen and (max-width: 800px) {
    html {
      font-size: 14px;
      line-height: 24px; } 
      .details { max-height: 12em; }
    }

body {
  background-color: #000;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff; }
  body.opened-event {
    background-color: #333642; }

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #0b1f33;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .loading-screen .loader-icon {
    margin: auto;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px auto;
    background-image: url(/images/icons/loading.svg);
    animation: rotate 1s infinite; }

h1 {
  color: #ffffff; }

.site-search {
  background-color: rgba(255, 255, 255, 0.95);
  color: #000;
  position: fixed;
  z-index: 1100;
  width: 600px;
  height: 50px;
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 0;
  -webkit-transition: left 0.4s, transform 0.4s;
  -moz-transition: left 0.4s, transform 0.4s;
  -ms-transition: left 0.4s, transform 0.4s;
  transition: left 0.4s, transform 0.4s;
  -webkit-box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.6); }
  @media only screen and (max-height: 460px) {
    .site-search {
      position: absolute; } }
  .site-search.js-site-search--minimized {
    left: 40px;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); }
    .site-search.js-site-search--minimized button {
      background-size: 20px auto; }
  @media only screen and (max-width: 1100px) {
    .site-search {
      width: calc(80%);
      margin-left: auto;
      margin-right: auto; } }
  .site-search__dropdown, .site-search__searchfield {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem; }
  .site-search__dropdown {
    width: 260px;
    height: 50px;
    border-right: 1px solid #e1e6eb; }
    @media only screen and (max-width: 1000px) {
      .site-search__dropdown {
        width: 200px; } }
    @media only screen and (max-width: 460px) {
      .site-search__dropdown {
        width: 120px; } }
  .site-search__searchfield {
    width: calc(100%);
    height: 100%;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    position: relative; }
    @media only screen and (max-width: 1000px) {
      .site-search__searchfield {
        width: calc(100%); } }
    @media only screen and (max-width: 460px) {
      .site-search__searchfield {
        width: calc(100%); } }
    .site-search__searchfield input {
      margin-top: auto;
      margin-bottom: auto;
      box-sizing: border-box;
      padding: 14px;
      width: 100%;
      font-size: 1rem;
      background: transparent;
      font-weight: 300; }
    .site-search__searchfield button {
      position: absolute;
      right: 0;
      width: 50px;
      height: 50px;
      cursor: pointer;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 28px auto;
      background-image: url(/images/icons/search.svg);
      opacity: 0.5;
      -webkit-transition: opacity 0.4s;
      -moz-transition: opacity 0.4s;
      -ms-transition: opacity 0.4s;
      transition: opacity 0.4s; }
      .site-search__searchfield button:hover {
        opacity: 1; }

.small-event-teaser {
  -webkit-box-flex: 0 0 233px;
  -moz-box-flex: 0 0 233px;
  -webkit-flex: 0 0 233px;
  -ms-flex: 0 0 233px;
  flex: 0 0 233px;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  padding-right: 40px;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  transition: transform 0.2s; }
  @media only screen and (max-width: 1600px) {
    .small-event-teaser {
      -webkit-box-flex: 0 0 220px;
      -moz-box-flex: 0 0 220px;
      -webkit-flex: 0 0 220px;
      -ms-flex: 0 0 220px;
      flex: 0 0 220px;
      padding-right: 20px; } }
  @media only screen and (max-width: 800px) {
    .small-event-teaser {
      -webkit-box-flex: 0 0 140px;
      -moz-box-flex: 0 0 140px;
      -webkit-flex: 0 0 140px;
      -ms-flex: 0 0 140px;
      flex: 0 0 140px; } }
  .small-event-teaser__image {
    display: block;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .small-event-teaser .image-mask {
    display: block;
    width: 100%;
    padding-top: 100%; }
  .small-event-teaser:hover, .small-event-teaser.js-active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
    .small-event-teaser:hover .image-mask, .small-event-teaser.js-active .image-mask {
      background-color: transparent; }
  .small-event-teaser__content {
    display: block; }
    .small-event-teaser__content h3 {
      font-size: 12px;
      line-height: 14px;
      font-weight: bold;
      color: #ffffff;
      padding-top: 10px; }
    .small-event-teaser__content p {
      padding-top: 5px;
      color: #677785;
      font-size: 12px;
      line-height: 14px; }
    @media only screen and (max-width: 1000px) {
      .small-event-teaser__content h3 {
        font-size: 11px;
        line-height: 13px; }
      .small-event-teaser__content p {
        font-size: 12px;
        line-height: 14px; } }

.hero-area {
  width: 100%;
  height: calc(100% - 240px);
  min-height: 300px;
  background-color: #0b1f33;
  position: relative; }
  @media only screen and (max-width: 700px) {
    .hero-area {
      height: calc(100% - 100px); } }
  .hero-area__content-slides {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box; }
  .hero-area .hero-slider-arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 18px;
    -webkit-border-radius: 30px;
    border-radius: 30px; }
    @media only screen and (max-width: 700px) {
      .hero-area .hero-slider-arrow {
        width: 36px;
        height: 36px;
        bottom: 28px; } }
    .hero-area .hero-slider-arrow--left {
      left: 20px;
      background-image: url(/images/icons/arrows/light/left-min.svg);
      display: none; }
    .hero-area .hero-slider-arrow--right {
      right: 20px;
      background-image: url(/images/icons/arrows/light/right-min.svg); }
  .hero-area__each-content-slide {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: none; }
    .hero-area__each-content-slide.js-active-slide {
      display: block; }
  .hero-area__outer-content-align {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-flow: row nowrap;
    -moz-box-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    align-items: flex-end;
    background-image: -o-linear-gradient(200deg, rgba(0, 0, 0, 0.3) 20%, black);
    background-image: -moz-linear-gradient(200deg, rgba(0, 0, 0, 0.3) 20%, black);
    background-image: -webkit-linear-gradient(200deg, rgba(0, 0, 0, 0.3) 20%, black);
    background-image: linear-gradient(200deg, rgba(0, 0, 0, 0.3) 20%, black); }
  .hero-area__banner-logo {
    width: 60vw;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    @media only screen and (min-width: 700px) {
      .hero-area__banner-logo {
        width: 44vw; } }
    @media only screen and (min-width: 900px) {
      .hero-area__banner-logo {
        width: 26vw; } }
    @media only screen and (max-height: 600px) {
      .hero-area__banner-logo {
        width: 44vw; } }
    @media only screen and (max-height: 440px) {
      .hero-area__banner-logo {
        width: 38vw; } }
    .hero-area__banner-logo img {
      width: 100%;
      height: auto; }
  .hero-area__content {
    margin-bottom: 30px; }
    .hero-area__content p {
      color: #e1e6eb;
      text-shadow: 0px 3px 10px #000, 0px 3px 30px #000; }
    .hero-area__content h1 {
      box-sizing: border-box;
      font-size: calc(1rem + 2vw);
      line-height: calc(1.4rem + 2vw);
      margin-bottom: 0px; }
      @media only screen and (max-width: 1300px) {
        .hero-area__content h1 {
          padding-right: 60px;
          padding-left: 60px; } }
      @media only screen and (max-width: 700px) {
        .hero-area__content h1 {
          padding-right: 40px;
          padding-left: 40px; } }
  .hero-area__each-content-slide {
    position: absolute; }
  .hero-area__slider-wrap {
    width: 100%;
    position: absolute;
    bottom: 0; }
  .hero-area__slider {
    position: relative;
    z-index: 2; }
    .hero-area__slider .small-event-teaser__content p.location {
      display: none; }
  .hero-area .read-more {
    color: #ff0000;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    -webkit-transition: border 0.4s;
    -moz-transition: border 0.4s;
    -ms-transition: border 0.4s;
    transition: border 0.4s; }
    .hero-area .read-more:hover {
      border-bottom: 2px solid #ff0000; }

.event-list {
  padding-bottom: 40px;
  margin-top: 40px; }
  @media only screen and (max-width: 800px) {
    .event-list {
      margin-top: 20px; } }
  .event-list__events {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-flow: row wrap;
    -moz-box-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between; }
  .event-list__each-event {
    -webkit-box-flex: 0 0 48%;
    -moz-box-flex: 0 0 48%;
    -webkit-flex: 0 0 48%;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    border-bottom: 1px solid rgba(51, 54, 66, 0.8);
    font-size: 0;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -ms-transition: background 0.4s;
    transition: background 0.4s; }
    .event-list__each-event:hover {
      background-color: rgba(11, 31, 51, 0.8); }
      .event-list__each-event:hover .event-heading h3 {
        color: #ff0000; }
      .event-list__each-event:hover .event-heading p {
        color: #ffffff; }
      .event-list__each-event:hover .event-date {
        color: #ff0000; }
    @media only screen and (max-width: 900px) {
      .event-list__each-event {
        -webkit-box-flex: 0 0 100%;
        -moz-box-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; } }
  .event-list .event-content,
  .event-list .event-share,
  .event-list .event-date,
  .event-list .event-image,
  .event-list .event-heading {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle; }
  .event-list .event-content {
    width: calc(100% - 40px);
    color: #ffffff;
    padding-top: 7px;
    padding-bottom: 7px; }
  .event-list .event-date {
    font-size: 1.6rem;
    line-height: 80px;
    width: 50px;
    padding-left: 8px;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    transition: color 0.4s; }
  .event-list .event-image {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 340px) {
      .event-list .event-image {
        display: none; } }
  .event-list .event-heading {
    box-sizing: border-box;
    padding-left: 20px;
    width: calc(100% - 50px - 80px); }
    @media only screen and (max-width: 350px) {
      .event-list .event-heading {
        width: calc(100% - 50px);
        padding-left: 10px; } }
    .event-list .event-heading h3 {
      font-size: 1rem;
      line-height: 1.4rem;
      font-weight: bold;
      color: #ffffff;
      -webkit-transition: color 0.4s;
      -moz-transition: color 0.4s;
      -ms-transition: color 0.4s;
      transition: color 0.4s; }
      @media only screen and (max-width: 600px) {
        .event-list .event-heading h3 {
          font-size: 12px; } }
    .event-list .event-heading p {
      color: #677785;
      font-size: 14px;
      -webkit-transition: color 0.4s;
      -moz-transition: color 0.4s;
      -ms-transition: color 0.4s;
      transition: color 0.4s; }
  .event-list .event-share {
    width: 40px;
    height: 100%; }

.event-details__intro-content .event-share .event-share__dropdown {
  font-size: 1rem;
  padding-left: 36px;
  background-position: 3px center; }
  .event-details__intro-content .event-share .event-share__dropdown.js-active {
    color: #677785; }

.event-share {
  display: inline-block; }
  .event-share__dropdown {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px auto;
    background-image: url(/images/icons/share-light-grey.svg);
    cursor: pointer;
    position: relative;
    font-size: 0.8rem;
    position: relative; }
    .event-share__dropdown:hover {
      background-color: #ff0000; }
    .event-share__dropdown.js-active {
      background-color: rgba(11, 31, 51, 0.98);
      background-image: url(/images/icons/x-grey.svg); }
  .event-share__dropdown ul {
    position: absolute;
    z-index: 2;
    top: 100%;
    width: 200px;
    background-color: rgba(11, 31, 51, 0.98);
    display: none; }
    .event-share__dropdown ul.align-left {
      left: 0; }
    .event-share__dropdown ul.align-right {
      right: 0; }
  .event-share .social-share a {
    box-sizing: border-box;
    display: block;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: auto 20px;
    border-bottom: 1px solid rgba(51, 54, 66, 0.5);
    color: #ffffff;
    -webkit-transition: background-color 0.2s, color 0.4s;
    -moz-transition: background-color 0.2s, color 0.4s;
    -ms-transition: background-color 0.2s, color 0.4s;
    transition: background-color 0.2s, color 0.4s; }
    .event-share .social-share a:hover {
      color: #ff0000; }
  .event-share .social-share .facebook a {
    background-image: url(/images/icons/social/colored/fb.svg); }
  .event-share .social-share .twitter a {
    background-size: auto 14px;
    background-image: url(/images/icons/social/colored/twitter.svg); }
  .event-share .social-share .email a {
    background-size: auto 12px;
    background-image: url(/images/icons/mail-grey.svg); }

.event-list__filter {
  border-bottom: 1px solid rgba(51, 54, 66, 0.8); }
  .event-list__filter .selectbox {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px; }
    @media only screen and (max-width: 400px) {
      .event-list__filter .selectbox:last-of-type {
        float: right;
        margin-right: 0; }
        .event-list__filter .selectbox:last-of-type .selectbox__content {
          right: 0; } }

.banner-area {
  display: block;
  width: 100%;
  background-color: #788897;
  position: relative; }
  .banner-area__text {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-left: calc((100% - 1600px) / 2);
    padding-right: 50%;
    bottom: 0;
    padding-top: 160px; }
    @media only screen and (max-width: 1700px) {
      .banner-area__text {
        padding-left: 3vw; } }
    .banner-area__text h3 {
      font-size: 3rem;
      padding-bottom: 20px; }
    .banner-area__text--dark {
      color: #0b1f33;
      text-shadow: 0 0 30px #ffffff, 0 0 70px #ffffff;
      background-image: -o-linear-gradient(185deg, rgba(255, 255, 255, 0) 30%, white);
      background-image: -moz-linear-gradient(185deg, rgba(255, 255, 255, 0) 30%, white);
      background-image: -webkit-linear-gradient(185deg, rgba(255, 255, 255, 0) 30%, white);
      background-image: linear-gradient(185deg, rgba(255, 255, 255, 0) 30%, white); }
    .banner-area__text--light {
      color: #ffffff;
      text-shadow: 0 0 70px #000;
      background-image: -o-linear-gradient(185deg, transparent 30%, black);
      background-image: -moz-linear-gradient(185deg, transparent 30%, black);
      background-image: -webkit-linear-gradient(185deg, transparent 30%, black);
      background-image: linear-gradient(185deg, transparent 30%, black); }
  .banner-area__image {
    line-height: 0;
    overflow: hidden;
    max-height: 350px; }
    .banner-area__image img {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0; }

.content-area {
  display: block;
  padding-top: 100px; }
  @media only screen and (max-width: 700px) {
    .content-area--event-details {
      margin-top: 0; } }
  .content-area--wide {
    margin-bottom: 40px; }
  .content-area--narrow {
    margin-bottom: 40px; }
  .content-area--event-details {
    background-color: #000;
    position: relative;
    padding-top: 0;
    margin-top: 100px; }
    @media only screen and (max-width: 700px) {
      .content-area--event-details {
        margin-top: 0; } }
    .content-area--event-details.has-media {
      width: 100%; }
      @media only screen and (min-width: 700px) {
        .content-area--event-details.has-media {
          width: 62vw;
          margin-left: 3vw; } }
      @media only screen and (min-width: 1700px) {
        .content-area--event-details.has-media {
          width: 1100px;
          margin-left: calc((100% - 1600px) / 2); } }
    .content-area--event-details .time,
    .content-area--event-details .location {
      box-sizing: border-box;
      padding-left: 34px;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: auto 20px;
      padding-bottom: 6px;
      padding-top: 6px; }
      @media only screen and (max-width: 600px) {
        .content-area--event-details .time,
        .content-area--event-details .location {
          background-size: auto 16px;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 1.6rem; } }
    .content-area--event-details .time {
      background-image: url(/images/icons/calendar-light-grey.svg); }
    .content-area--event-details .location {
      background-size: auto 24px;
      background-position: 2px center;
      background-image: url(/images/icons/location-light-grey.svg); }
      @media only screen and (max-width: 600px) {
        .content-area--event-details .location {
          background-size: auto 20px; } }
  .content-area .play-media {
    background-color: #788897;
    line-height: 0;
    position: absolute;
    width: 34vw;
    right: calc(-34vw + 30px);
    top: 50px;
    overflow: hidden; }
    @media only screen and (min-width: 1700px) {
      .content-area .play-media {
        width: 560px;
        right: -530px; } }
    @media only screen and (max-width: 700px) {
      .content-area .play-media {
        display: none; } }
    .content-area .play-media__inner {
      width: 100%;
      height: 100%;
      position: relative; }
    .content-area .play-media__btn {
      position: absolute;
      width: 140px;
      height: 140px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-border-radius: 50%;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-transition: background-size 0.3s, width 0.2s, height 0.2s;
      -moz-transition: background-size 0.3s, width 0.2s, height 0.2s;
      -ms-transition: background-size 0.3s, width 0.2s, height 0.2s;
      transition: background-size 0.3s, width 0.2s, height 0.2s;
      background-size: 30px auto;
      background-image: url(/images/icons/play.svg); }
      .content-area .play-media__btn:hover {
        width: 160px;
        height: 160px;
        background-size: 40px auto; }
      @media only screen and (max-width: 600px) {
        .content-area .play-media__btn {
          width: 100px;
          height: 100px; } }
      .content-area .play-media__btn.js-active {
        background-size: auto 30px;
        background-image: url(/images/icons/pause.svg); }
        .content-area .play-media__btn.js-active:hover {
          background-size: auto 40px; }
    .content-area .play-media img {
      width: 100%;
      height: auto; }

.event-details {
  box-sizing: border-box; }
  .event-details__content-block {
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid #0b1f33;
    padding: 60px; }
    .event-details__content-block p {
      padding-bottom: 10px; }
    @media only screen and (max-width: 1300px) {
      .event-details__content-block {
        padding-top: 30px;
        padding-right: 60px;
        padding-bottom: 30px;
        padding-left: 30px; } }
    @media only screen and (max-width: 700px) {
      .event-details__content-block {
        padding-right: 30px; } }
  .event-details__intro-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-flow: row nowrap;
    -moz-box-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
    @media only screen and (max-width: 700px) {
      .event-details__intro-content {
        padding: 0;
        -webkit-box-flex-flow: row wrap;
        -moz-box-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        position: relative; } }
    .event-details__intro-content__image, .event-details__intro-content__text {
      box-sizing: border-box;
      align-self: center; }
    .event-details__intro-content__image {
      -webkit-box-flex: 0 0 180px;
      -moz-box-flex: 0 0 180px;
      -webkit-flex: 0 0 180px;
      -ms-flex: 0 0 180px;
      flex: 0 0 180px;
      height: 180px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
      @media only screen and (max-width: 1100px) {
        .event-details__intro-content__image {
          -webkit-box-flex: 0 0 140px;
          -moz-box-flex: 0 0 140px;
          -webkit-flex: 0 0 140px;
          -ms-flex: 0 0 140px;
          flex: 0 0 140px;
          height: 140px; } }
      @media only screen and (max-width: 700px) {
        .event-details__intro-content__image {
          -webkit-box-flex: 0 0 100%;
          -moz-box-flex: 0 0 100%;
          -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          height: 0;
          padding-top: 100%; } }
    .event-details__intro-content__text {
      padding-left: 30px; }
      @media only screen and (max-width: 700px) {
        .event-details__intro-content__text {
          position: absolute;
          width: 100%;
          bottom: 0;
          padding-bottom: 7px;
          background-color: rgba(11, 31, 51, 0.6); } }
    .event-details__intro-content h1 {
      box-sizing: border-box;
      font-size: calc(1rem + 1.2vw);
      line-height: calc(1.4rem + 1.2vw);
      padding-top: 10px;
      padding-bottom: 10px; }
      @media only screen and (max-width: 700px) {
        .event-details__intro-content h1 {
          padding-bottom: 5px; } }

.search-results-text {
  font-size: calc(1rem + 2vw);
  line-height: calc(1.4rem + 2vw);
  padding-top: 40px; }
  .search-results-text strong {
    background-color: red; }

.event-tags li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #333642;
  line-height: 1rem;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  -webkit-border-radius: 100px;
  border-radius: 100px; }

.location-map {
  width: 100%;
  height: 400px;
  background-color: #0b1f33; }

p.ticket-price {
  font-size: 2rem;
  line-height: 3rem; }

.navigate-back {
  position: absolute;
  z-index: 300;
  top: 0px;
  height: 40px;
  line-height: 40px;
  background-color: #ff0000;
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: auto 20px;
  background-image: url(/images/icons/arrows/light/left-min.svg);
  color: #ffffff;
  padding-left: 20px;
  padding-right: 60px;
  -webkit-transform: translateX(calc(-100% + 50px));
  -moz-transform: translateX(calc(-100% + 50px));
  -ms-transform: translateX(calc(-100% + 50px));
  transform: translateX(calc(-100% + 50px));
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  transition: transform 0.3s; }
  @media only screen and (min-width: 1100px) {
    .navigate-back {
      position: fixed;
      height: 60px;
      line-height: 60px;
      top: 50%; }
      .navigate-back:hover {
        color: #ffffff;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); } }

.footer {
  width: 100%;
  background-color: #0b1f33;
  padding-top: 15px;
  padding-bottom: 12px; }
  .footer .inner-footer {
    font-size: 0; }
  .footer--left-column, .footer--right-column {
    display: inline-block;
    font-size: 0.8rem; }
  .footer--left-column {
    width: 80px;
    color: #e6c050;
    font-weight: 700; }
  .footer--right-column {
    width: calc(100% - 80px);
    text-align: right; }
  .footer li {
    display: inline-block; }
  .footer a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    font-size: 0.8rem; }
    .footer a:hover {
      color: #ff0000; }

/*# sourceMappingURL=style.css.map */














.monthselect, .regionselect, .tagselect, .yearselect {
  background-color: none;
  padding: 15px 15px;
  transition: all 0.2s ease-in;
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 9px;
  font-size: 1rem;
  line-height: 4rem;
}
.monthselect:hover, .regionselect:hover, .tagselect:hover, .yearselect:hover {
  background-color: rgba(51, 54, 66, 0.5);
  color: red;
}
input[type="radio"].month, input[type="radio"].region, input[type="checkbox"].tag, input[type="radio"].year {
display: none;
}
input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
  background-color: red;
  color: white;
}

.find-btn {
  background-color: red;
  color: #FFF;
  padding: 10px 15px;
  transition: all 0.2s ease-in;
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 9px;
  margin-top: 5px;
  font-size: 1rem;
}

.find-btn:hover {
  background-color: white;
  color: red;
}

.event-list { min-height: 300px; }



@media screen and (max-width: 400px) {

.event-list__events {
  width: 100%;
}

}

#text {
  overflow: hidden;
}

#text.toggled { height: 100%; }

#read-more {
  background-color: red;
}
